<!-- This page adds a student to the school system -->  
<!DOCTYPE html>
<html>
  <head>
    <title>Add Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%- include('partials/navbar') %>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

  
    <h4>This page adds a student to the school system</h4>
  <p>Please enter the student information</p>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" /><br /><br />

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" /><br /><br />

    <label for="last_name">GPA:</label>
    <input type="text" id="gpa" name="gpa" /><br /><br />

    <label for="last_name">Enrollment:</label>
    <select id="enroll" name="enroll">
      <option value="true">True</option>
      <option value="false">False</option> 
    </select> <br /><br /> 

    <label for="last_name">ID:</label>
    <input type="text" id="ID" name="ID" /><br /><br />

    <button onclick="sendVote()">Submit</button>
    <br />
    <br />
    <div id="mydiv" name="mydiv"></div>
    <script>
      //This function uses POST to send the data to the server
      function sendVote() {
        var fname_val = $("#first_name").val();
        var lname_val = $("#last_name").val();
        var gpa_val = $("#gpa").val();
        var enroll_val = $("#enroll").val();
        var id_val = $("#ID").val();
        
        $.ajax({
          url: "http://localhost:5678/students",
          type: "post",
          data: {
            first_name: fname_val,
            last_name: lname_val,
            gpa: gpa_val,
            enrolled: enroll_val,
            id: id_val,
          },
          success: function (response) {
            $("#mydiv").text(response);
          },
          error: function (xhr) {
            $("#mydiv").text("error: " + xhr);
          },
        });
      }
    </script>
    <a href="/">Go back to Homepage</a>
  </body>
</html>
