<!-- This page displays all the students records in the school

-->
<!DOCTYPE html>
<html>
  <head>
    <title>Get Students</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <%- include('partials/navbar') %>
    
  </head>
  <body>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #236eb9;
        border: 1px solid;
      }
      th {
        background-color: #d42bc3;
        color: rgb(189, 178, 27);
      }
      tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
    
    <h4>This page displays a students information </h4>
    <p>Please enter the student ID to view their record</p>
    <div class="container">
      <a href="/">Go back to Homepage</a>
      <br>
    </br>

  <label for="id_students">Record ID:</label>
  <input type="text" id="id_students" name="id_students"><br><br>

  <button onclick="sendGetVote()">Submit</button>
  <br>
  <br>
  <table id="studentTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>ID</th>
        <th>GPA</th>
        <th>Enrolled</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>
  <script>

    function sendGetVote() {
      var id_val = $("#id_students").val();
      var temp="http://localhost:5678/students/"+id_val
      $.ajax({
        url: temp,
        type: "get",
        dataType: "json",
        success: function(response) {
          var cont = response
          console.log(typeof cont)
          var obj=JSON.stringify(response);
          var temp = response
          console.log(obj)
          const table = document.getElementById("studentTable");
          console.log(temp)
          const row = table.insertRow();
          // Add cells to the row
          const firstNameCell = row.insertCell();
          firstNameCell.textContent = temp.first_name;

          const lastNameCell = row.insertCell();
          lastNameCell.textContent = temp.last_name;

          const idCell = row.insertCell();
          idCell.innerHTML = temp._id;
          

          const gpaCell = row.insertCell();
          gpaCell.textContent = temp.gpa;

          const enrolledCell = row.insertCell();
          enrolledCell.textContent = temp.enrolled;
        },
        error: function(xhr) {
          $("#mydiv").text('error: ' + xhr);
        }
      });
    }
    
  </script>

</body>
</html>