<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<%- include('partials/navbar') %>
</head>
<body>
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

<div class="container">
  <h3>Welcome to the Student Management System!</h3>
  <h4>Vladia Zouga | Z23614432</h4>
  <p>
    
    For this management system, there are multiple ejs pages created<br>
     to showcase http requests that were from the studentserver.js file<br>
     (I had to create a views folder for all the ejs files and I created a partials folder to hold the navbar)<br>
     Each EJS page has its own task:<br>
- addStudent: create a new student.<br> 
- updateStudent: update a student by ID <br>
- deleteStudent: delete a student by ID <br>
- displayStudent: display a single student by ID <br>
- listStudents.: list all students records<br>

  </p>
</div>

</body>
</html>
