<!-- This page displays all the students records in the school

-->
<!DOCTYPE html>
<html>
  <head>
    <title>Get All Students</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <%- include('partials/navbar') %>
  </head>
  <body>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #236eb9;
        border: 1px solid;
      }
      th {
        background-color: #d42bc3;
        color: rgb(189, 178, 27);
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>

    <div class="container">
      <h4>This page displays all the students records in the school</h4>
      <a href="/">Go back to Homepage</a>

      <!-- create a table
    -->
      <table id="studentTable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ID</th>
            <th>GPA</th>
            <th>Enrollment</th>
          </tr>
        </thead>
      </table>
    </div>
    <!--
      This script sends a GET request to the server to get all the students records
    -->
    <script>
      sendGetAllVote();
      function sendGetAllVote() {
        let params = window.location.search;

        // .. use the data object to send via ajax ..
        var vote_val = $("#vote").val();
        $.ajax({
          url: "http://localhost:5678/students" + params,
          type: "get",
          success: function (response) {
            //This is the response from the server
            var obj = JSON.stringify(response);
            var temp = response;
            // Get the table element and add rows to it with the JSON data
            const table = document.getElementById("studentTable");

            // Loop through the JSON data and add rows to the table
            for (let i = 0; i < temp.length; i++) {
              console.log(temp[i]);
              const row = table.insertRow();
              // Add cells to the row
              const firstNameCell = row.insertCell();
              firstNameCell.textContent = temp[i].first_name;

              const lastNameCell = row.insertCell();
              lastNameCell.textContent = temp[i].last_name;

              const idCell = row.insertCell();
              idCell.textContent = temp[i]._id;

              const gpaCell = row.insertCell();
              gpaCell.textContent = temp[i].gpa;

              const enrolledCell = row.insertCell();
              enrolledCell.textContent = temp[i].enrolled;
            }

            console.log(response.students);
            //This will display the response on the page
            $("#mydiv").text(obj);
            console.log(response.students);
          },
          error: function (xhr) {
            $("#mydiv").text("error: " + xhr);
          },
        });
      }
    </script>
  </body>
</html>
